<center><b>In the name of God</b></center>

<b>Course</b>: Machine Learning
<br>
<b>Description:</b> HomeWork 1 | Question 2
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

# Libraries

In [2]:
# Import Allowed Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load

In [4]:
# Load Data
data = pd.read_excel("CSM_dataset.xlsx")
# Remove last redundant row
data = data[:-1]

In [8]:
data

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014.0,6.3,8.0,9130.0,4000000.0,45.0,1.0,0.0,3280543.0,4632.0,425.0,636.0,1120000.0
1,22 Jump Street,2014.0,7.1,1.0,192000000.0,50000000.0,3306.0,2.0,2.0,583289.0,3465.0,61.0,186.0,12350000.0
2,3 Days to Kill,2014.0,6.2,1.0,30700000.0,28000000.0,2872.0,1.0,0.0,304861.0,328.0,34.0,47.0,483000.0
3,300: Rise of an Empire,2014.0,6.3,1.0,106000000.0,110000000.0,3470.0,2.0,0.0,452917.0,2429.0,132.0,590.0,568000.0
4,A Haunted House 2,2014.0,4.7,8.0,17300000.0,3500000.0,2310.0,2.0,0.0,3145573.0,12163.0,610.0,1082.0,1923800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Child 44,2015.0,6.4,4.0,1210000.0,50000000.0,66.0,1.0,4.0,3701061.0,9325.0,641.0,1859.0,NaN
227,Aloha,2015.0,5.5,15.0,21000000.0,37000000.0,2815.0,1.0,13.0,7119456.0,18803.0,1128.0,2290.0,NaN
228,Unfinished Business,2015.0,5.4,8.0,10200000.0,35000000.0,2777.0,1.0,7.0,3450614.0,6823.0,325.0,409.0,NaN
229,War Room,2015.0,5.4,1.0,12300000.0,3000000.0,NaN,1.0,10.0,66872.0,400.0,67.0,201.0,NaN
230,The Gallows,2015.0,4.4,15.0,22600000.0,100000.0,2720.0,1.0,-5.0,659772.0,2841.0,431.0,606.0,NaN

# Handle Null Values