<center><b>In the name of God</b></center>

<b>Course</b>: Machine Learning
<br>
<b>Description:</b> HomeWork 1 | Question 3
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

# Libraries

In [1]:
# Import Allowed Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load

In [4]:
train_data = pd.read_csv("train.csv")

In [5]:
train_data

     age  gender     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest  16884.92400
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
..   ...     ...     ...       ...    ...        ...          ...
995   39  female  23.275         3     no  northeast   7986.47525
996   39  female  34.100         3     no  southwest   7418.52200
997   63  female  36.850         0     no  southeast  13887.96850
998   33  female  36.290         3     no  northeast   6551.75010
999   36  female  26.885         0     no  northwest   5267.81815

[1000 rows x 7 columns]

In [6]:
set(train_data["region"].values)

{'northeast', 'northwest', 'southeast', 'southwest'}

# Preprocessing

In [7]:
# Encoding string features

def gender_encoding(gender):
    if gender == "male":
        return 1
    elif gender == "female":
        return 0
    else:
        raise Exception("An expected value for gender!")
    
def smoker_encoding(smoker):
    if smoker == "yes":
        return 1
    elif smoker == "no":
        return 0
    else:
        raise Exception("An expected value for smoker!")

def region_encoding(region):
    if region == "northeast":
        return np.array([1, 0, 0, 0])
    elif region == "northwest":
        return np.array([0, 1, 0, 0])
    elif region == "southeast":
        return np.array([0, 0, 1, 0])
    elif region == "southwest":
        return np.array([0, 0, 0, 1])
    else:
        raise Exception("An expected value for region!")

In [8]:
# Apply encodings

train_data["gender"] = train_data["gender"].apply(gender_encoding)
train_data["smoker"] = train_data["smoker"].apply(smoker_encoding)
train_data["region"] = train_data["region"].apply(region_encoding)

# Basis Functions

In [10]:
train_data["age"] = train_data["age"].apply(lambda x:x**2)

In [11]:
train_data

      age  gender     bmi  children  smoker        region      charges
0     361       0  27.900         0       1  [0, 0, 0, 1]  16884.92400
1     324       1  33.770         1       0  [0, 0, 1, 0]   1725.55230
2     784       1  33.000         3       0  [0, 0, 1, 0]   4449.46200
3    1089       1  22.705         0       0  [0, 1, 0, 0]  21984.47061
4    1024       1  28.880         0       0  [0, 1, 0, 0]   3866.85520
..    ...     ...     ...       ...     ...           ...          ...
995  1521       0  23.275         3       0  [1, 0, 0, 0]   7986.47525
996  1521       0  34.100         3       0  [0, 0, 0, 1]   7418.52200
997  3969       0  36.850         0       0  [0, 0, 1, 0]  13887.96850
998  1089       0  36.290         3       0  [1, 0, 0, 0]   6551.75010
999  1296       0  26.885         0       0  [0, 1, 0, 0]   5267.81815

[1000 rows x 7 columns]

#

In [ ]:
class Multivariate():
    """ Class Polynomial store coefficients of a multivariate"""

    def __init__(self, number_variables):
        """ 
        Create a polynomial object.
        
        number_variables: number of variables
        """
        
        self.number_variables = number_variables

        # Coefficients of multivariate: a[n-1]*x[n-1] + a[n-2]*x[n-2] + ... + a[1]*(x[1]) + a[0]*x[0] + c
        self.a = np.zeros(number_variables)
        self.c = 0
        
    def single_apply(self, x):
        """
        Apply the multivariate to a point
        
        x: a point
        """
        return np.dot(x, self.a) + c
    
    def apply(self, x):
        """ 
        Apply the multivariate to an array of points
        
        x: array of points
        """
        return np.array(self.single_apply(x))
    
    
    def set_params(self, a, c):
        """ Setter for params"""
        self.a = a
        self.c = c
    
    def get_params(self):
        """ Getter for params"""
        return self.a, self.c
    
    def __str__(self):
        """ String of the multivariate """
        variables_name = list(data.drop(columns =["Ratings"]).columns)
        output = "Ratings = "
        for i in range(self.number_variables):
            output += "{:.2f}".format(self.a[i]) + " × " + variables_name[i] + " + "
        
        output += "{:.2f}".format(self.c)
        return output